<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <title>关于嘚啵</title>
</head>
<body>
    <div style="margin-top: 20px;text-indent: 2em;font-size: 0.7em;font-family: '微软雅黑';">
        Debo(嘚啵) 为河北上通云天网络科技有限公司开发的一款基于即时通信、周边生活服务，同时融入新时代移动互联网营销体系，打造即时通信、交友、社区综合服务及互联网推广营销一体化的社交吸粉APP，【嘚啵】既能实现聊天，图文分享、查看附近人、地图定位、附近生活服务场所、朋友圈、个人相册、人脉资源等基础功能，满足大多数人的社交需求，同时【嘚啵】基于互联网营销融入独特的“金币（即嘚啵币）”、“粉丝”、“人脉”独特的系统，金币系统贯通这个软件体系为可实现兑换礼品，APP内部道具交易等，粉丝系统为嘚啵网营销系统运行的基础，嘚啵的六维制粉丝中，只要有一支粉丝团强大起来，你的总体粉丝数量就会上去，这就是嘚啵粉丝六维制度的魅力！用户可通过邀请粉丝增加自己的嘚啵币收入（粉丝有金币收入时自己有一定比率提成）、粉丝越多你的价值越大，收益越高！
    </div>
    <center><div style="margin-top: 30px;"><img src="http://debo.shangtongyuntian.com/public/img/download/download.png" style="width:80%;height:auto;"></div></center>
    <center><div style="font-size: 0.7em;font-family: '微软雅黑';margin-top: 20%;">最终解释权归河北上通云天网络科技有限公司所有</div></center><!--position:fixed;bottom:10px;left:50%;margin-left: -13.4em;-->
</body>
</html>