<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <title>积分说明</title>
</head>
<body>
    <p style="margin-top: 20px;font-size: 0.9em;font-family: '微软雅黑';font-weight:bold;">
        积分说明
    </p>
    <p style="font-size: 0.7em;font-weight:bold;">
        一、如何获得积分？
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        积分：会员通过注册、分享嘚啵链接或邀请好友得相应积分，并以积分享受不同程度的兑换相应金额，换算比例：10积分兑换1元。
    </p>
    <p style="font-size: 0.7em;font-weight:bold;">
        二、获得积分及规则
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        注册成功获得10积分，可兑换1元，使用自己的二维码邀请好友注册成功获得50积分，可兑换5元。每24小时内分享嘚啵链接到其他平台获得10积分，可兑换1元。
    </p>
    <p style="font-size: 0.7em;font-weight:bold;">
        三、如何查询积分？
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        步骤：在"自己"-"钱包"-“积分”里查看积分数值
    </p>
    <p style="font-size: 0.7em;font-weight:bold;">
        四、如何使用积分？
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        只需手指轻轻一动，兑换相应积分为金额即可！
    </p>
    <p style="font-size: 0.7em;font-weight:bold;">
        五、积分使用注意事项 ：
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        <p style="text-indent: 2em;font-size: 0.7em;">（1）不同的帐户中的积分不可合并使用；</p>
        <p style="text-indent: 2em;font-size: 0.7em;">（2）以积分兑换的金额亦无法兑换成积分；</p>
        <p style="text-indent: 2em;font-size: 0.7em;">（3）嘚啵有权根据金额对会员积分获取进行相应调整；</p>
        <p style="text-indent: 2em;font-size: 0.7em;">（4）积分是嘚啵对用户行为的记录数据，不构成用户资产；</p>
    </p>
    <p style="font-size: 0.7em;font-weight:bold;">
        六、违规处理：
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        如果会员利用系统漏洞作弊等违规方式获得积分，经查证后，将查封会员帐号，并追缴相关积分，并保留追究相应法律责任的权利。
    </p>
    <p style="font-size: 0.7em;font-weight:bold;">
        七、修改及终止：
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        嘚啵保留对本活动细则中条款的解释的权利，并有权根据需要取消本细则或增删、修订细则的权利（包括但不限于参加资格、积分计算及兑换标准）
    </p>
</body>
</html>