<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <title>三方客说明</title>
</head>
<body>
    <p style="margin-top: 20px;font-size: 0.9em;font-family: '微软雅黑';font-weight:bold;">
        三方客说明文档
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        <span style="font-size: 0.7em;font-weight:bold;">概述：</span>嘚啵为第三方担保平台，完全免费服务于客户，三方客分为单方担保与双方担保功能，主要起到一个诚信、公平、公正。第三方交易平台也称为第三方电子平台，是属于第三方的服务中介机构，完成第三方担保的功能。
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        第三方担保，又称第三方担保服务、第三方托管，在国际上深受企业欢迎。第三方担保即买方将货款付给买卖双方之外的第三方，第三方收到款项后通知已收到买方货款，并同时通知卖方发货，卖方即可将货物发运给买方，买方通知第三方收到满意的卖方货物，第三方便将货款付给卖方。
    </p>
    <p style="margin-top: 20px;font-size: 0.9em;font-family: '微软雅黑';font-weight:bold;">
        一、单方担保功能
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        当A需要支付某项定金时，可以与B发起任务，当B同意后，A的定金会到嘚啵第三方平台，成为担保任务，B收到担保消息后即可履行与A的任务，B完成任务后确认任务后，A收到消息，A同意后，定金到达B指定账户。
    </p>
    <p style="margin-top: 20px;font-size: 0.9em;font-family: '微软雅黑';font-weight:bold;">
        二、双方担保功能
    </p>
    <p style="text-indent: 2em;font-size: 0.7em;">
        当A有物品要卖给B，A需要交自有物品同等的价格给第三方平台，同时B也需要支付同样购买A物品的价格给第三方平台，支付完成后，A发货给B，B收到满意的卖方A货物后，在平台确认任务，第三方平台便将货款与押金付给A。
    </p>
</body>
</html>